<div class="col-12 bg-secondary p-4 d-flex justify-content-between" style="--bs-bg-opacity:.08">

    <div>
        <h3 id="item{{index}}">{{singleItem}}</h3>

    </div>
    <div>
        <input class="btn btn-outline-success    me-2" value="Done" id="done{{index}}" type="button" (click)="done()" />

        <button class="btn btn-outline-danger " (click)="removeItem()">Delete</button>

    </div>

</div>


<!-- *ngFor="let item of todo ; let i = index"   in line 1 -->
<!-- (click)="removeitem(i) " in line 10 -->